---
import BaseLayout from "../layouts/BaseLayout.astro";
import Carousel from "../components/ProjectsPage/Carousel";
import CategorySection from "../components/ProjectsPage/Categories";
---

<BaseLayout>
  <main class="px-4 py-10 text-light-text dark:text-dark-text max-w-4xl mx-auto space-y-16">
    <Carousel client:only="react" />

    <CategorySection client:only="react" category="3D Assets" slug="3dassets" />
    <CategorySection client:only="react" category="Characters" slug="characters" />
    <CategorySection client:only="react" category="Environments" slug="environments" />
    <CategorySection client:only="react" category="Concept Art" slug="conceptart" />
    <CategorySection client:only="react" category="Game Design" slug="gamedesign" />
    <CategorySection client:only="react" category="Game Development" slug="gamedev" />
  </main>
</BaseLayout>