---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CategoryLayout from "../../components/ProjectsPage/CatagoryLayout";
---

<BaseLayout>
  <main class="px-4 py-10 text-light-text dark:text-dark-text max-w-4xl mx-auto space-y-16">
	<CategoryLayout category="Concept Art" />
	</main>
</BaseLayout>